@import '_vars';

::-webkit-scrollbar {
	width: 7px;
	/* for vertical scrollbars */
	height: 7px;
	/* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}

.nota {
	font-family: arial;
	color: #000;
	background-color: #fff;
	font-size: 10px;
	width: $addWidth - 2;
	// height: $addHeight;
	z-index: 2;
	position: absolute;
	// overflow-y: scroll;
	// overflow-x: hidden;
	padding: 10px 20px 10px 10px;
	box-sizing: border-box;
	z-index: 9000;
	left: 1px;
	bottom: 1px;
}

.nota-btn {
	position: absolute;
	font-family: arial;
	color: #fff;
	font-size: 8px;
	cursor: pointer;
    // bottom: 169px;
    // left: -12px;
	z-index: 8000;
	letter-spacing: 0.4px;

	text-shadow: -1px 2px 1px rgba(0, 0, 0, 1);

	// transform: rotate(90deg);
	// -webkit-transform: rotate(90deg);
	// -moz-transform: rotate(90deg);
	// -o-transform: rotate(90deg);  
}

.container {
	position: relative;
	width: $addWidth;
	height: $addHeight;
	// background-image: url(img/bg.jpg);
	background-color: #F9B218;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	
	&:after{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 999;
		content: '';
		display: block;
		width: $addWidth;
		height: $addHeight;
		-webkit-box-shadow: inset 0px 0px 0px 1px #000;
		-moz-box-shadow:    inset 0px 0px 0px 1px #000;
		box-shadow:         inset 0px 0px 0px 1px #000;
	}
}

a img{
	border: 0px;
}


.logo, #ribbon, #head, #subhead, .btn, #bullety, #man img{
	position: absolute;
}